In [17]:
import pandas as pd

In [18]:
df = pd.read_csv('./raw/Olympic_Medal_Tally_History.csv')
df.head()

,edition,edition_id,year,country,country_noc,gold,silver,bronze,total
0,1896 Summer Olympics,1,1896,United States,USA,11,7,2,20
1,1896 Summer Olympics,1,1896,Greece,GRE,10,18,19,47
2,1896 Summer Olympics,1,1896,Germany,GER,6,5,2,13
3,1896 Summer Olympics,1,1896,France,FRA,5,4,2,11
4,1896 Summer Olympics,1,1896,Great Britain,GBR,2,3,2,7

In [19]:
df = df.drop(columns=['edition', 'year', 'country', 'total'])
df.head()

   edition_id country_noc  gold  silver  bronze
0           1         USA    11       7       2
1           1         GRE    10      18      19
2           1         GER     6       5       2
3           1         FRA     5       4       2
4           1         GBR     2       3       2

In [20]:
df.to_csv('./processed/olympic_medal_tally.csv', index=False)

In [23]:
from dataprep.eda import create_report

ImportError: Numba needs NumPy 2.0 or less. Got NumPy 2.1.