In [2]:
import pandas as pd

In [9]:
medaltally = pd.read_csv('./raw/Olympic_Medal_Tally_History.csv')
medaltally

,edition,edition_id,year,country,country_noc,gold,silver,bronze,total
0,1896 Summer Olympics,1,1896,United States,USA,11,7,2,20
1,1896 Summer Olympics,1,1896,Greece,GRE,10,18,19,47
2,1896 Summer Olympics,1,1896,Germany,GER,6,5,2,13
3,1896 Summer Olympics,1,1896,France,FRA,5,4,2,11
4,1896 Summer Olympics,1,1896,Great Britain,GBR,2,3,2,7
...,...,...,...,...,...,...,...,...,...
1802,1906 Intercalated,4,1906,Canada,CAN,1,1,0,2
1803,1906 Intercalated,4,1906,Norway,NOR,1,1,0,2
1804,1906 Intercalated,4,1906,Netherlands,NED,0,1,2,3
1805,1906 Intercalated,4,1906,Australia,AUS,0,0,3,3
1806,1906 Intercalated,4,1906,Bohemia,BOH,0,0,2,2

In [10]:
medaltally = medaltally.drop(columns=['edition', 'year', 'country', 'total'])
medaltally

      edition_id country_noc  gold  silver  bronze
0              1         USA    11       7       2
1              1         GRE    10      18      19
2              1         GER     6       5       2
3              1         FRA     5       4       2
4              1         GBR     2       3       2
...          ...         ...   ...     ...     ...
1802           4         CAN     1       1       0
1803           4         NOR     1       1       0
1804           4         NED     0       1       2
1805           4         AUS     0       0       3
1806           4         BOH     0       0       2

[1807 rows x 5 columns]

In [11]:
medaltally.to_csv('./processed/olympic_medal_tally.csv', index=False)

In [12]:
games = pd.read_csv(
    'D:\Code\data_engineering_project\data\processed\Olympic_Games_Summary.csv')
games

# medaltally[medaltally["edition_id"] == 1452]

<>:2: SyntaxWarning: invalid escape sequence '\C'
<>:2: SyntaxWarning: invalid escape sequence '\C'
C:\Users\Admin\AppData\Local\Temp\ipykernel_21664\2465160480.py:2: SyntaxWarning: invalid escape sequence '\C'
  'D:\Code\data_engineering_project\data\processed\Olympic_Games_Summary.csv')

,edition,edition_id,edition_url,year,city,country_flag_url,country_noc,start_date,end_date,isHeld,competition_start_date,competition_end_date
0,1896 Summer Olympics,1,/editions/1,1896,Athina,https://olympedia-flags.s3.eu-central-1.amazon...,GRE,1896-04-06,1896-04-15,1,1896-04-06,1896-04-13
1,1900 Summer Olympics,2,/editions/2,1900,Paris,https://olympedia-flags.s3.eu-central-1.amazon...,FRA,NaN,NaN,1,1900-05-14,1900-10-28
2,1904 Summer Olympics,3,/editions/3,1904,St. Louis,https://olympedia-flags.s3.eu-central-1.amazon...,USA,1904-05-14,NaN,1,1904-07-01,1904-11-26
3,1908 Summer Olympics,5,/editions/5,1908,London,https://olympedia-flags.s3.eu-central-1.amazon...,GBR,1908-07-13,1908-07-25,1,1908-04-27,1908-10-31
4,1912 Summer Olympics,6,/editions/6,1912,Stockholm,https://olympedia-flags.s3.eu-central-1.amazon...,SWE,1912-07-06,1912-07-15,1,1912-05-05,1912-07-27
...,...,...,...,...,...,...,...,...,...,...,...,...
59,2018 Winter Olympics,60,/editions/60,2018,PyeongChang,https://olympedia-flags.s3.eu-central-1.amazon...,KOR,2018-02-09,2018-02-25,1,2018-02-08,2018-02-25
60,2022 Winter Olympics,62,/editions/62,2022,Beijing,https://olympedia-flags.s3.eu-central-1.amazon...,CHN,2022-02-04,2022-02-20,1,2022-02-02,2022-02-20
61,2026 Winter Olympics,72,/editions/72,2026,Milano-Cortina d'Ampezzo,https://olympedia-flags.s3.eu-central-1.amazon...,ITA,2026-02-06,2026-02-22,1,2026-02-04,2026-02-22
62,1956 Equestrian,48,/editions/48,1956,Stockholm,https://olympedia-flags.s3.eu-central-1.amazon...,SWE,1956-06-10,1956-06-17,1,1956-06-11,1956-06-17
63,1906 Intercalated,4,/editions/4,1906,Athina,https://olympedia-flags.s3.eu-central-1.amazon...,GRE,1906-04-22,1906-05-02,1,1906-04-22,1906-05-02

In [18]:
medaltally_edition_ids = set(medaltally['edition_id'])
games_edition_ids = set(games['edition_id'])

# Find the edition_id values that are in games but not in medaltally
missing_edition_ids = games_edition_ids - medaltally_edition_ids
# missing_edition_ids
games[games['edition_id'].isin(missing_edition_ids)]

,edition,edition_id,edition_url,year,city,country_flag_url,country_noc,start_date,end_date,isHeld,competition_start_date,competition_end_date
5,1916 Summer Olympics,50,/editions/50,1916,Berlin,https://olympedia-flags.s3.eu-central-1.amazon...,GER,NaN,NaN,0,NaN,NaN
11,1940 Summer Olympics,51,/editions/51,1940,Helsinki,https://olympedia-flags.s3.eu-central-1.amazon...,FIN,NaN,NaN,0,NaN,NaN
12,1944 Summer Olympics,52,/editions/52,1944,London,https://olympedia-flags.s3.eu-central-1.amazon...,GBR,NaN,NaN,0,NaN,NaN
32,2024 Summer Olympics,63,/editions/63,2024,Paris,https://olympedia-flags.s3.eu-central-1.amazon...,FRA,NaN,NaN,1,NaN,NaN
33,2028 Summer Olympics,64,/editions/64,2028,Los Angeles,https://olympedia-flags.s3.eu-central-1.amazon...,USA,NaN,NaN,1,NaN,NaN
34,2032 Summer Olympics,372,/editions/372,2032,Brisbane,https://olympedia-flags.s3.eu-central-1.amazon...,AUS,NaN,NaN,1,NaN,NaN
39,1940 Winter Olympics,55,/editions/55,1940,Garmisch-Partenkirchen,https://olympedia-flags.s3.eu-central-1.amazon...,GER,NaN,NaN,0,NaN,NaN
40,1944 Winter Olympics,56,/editions/56,1944,Cortina d'Ampezzo,https://olympedia-flags.s3.eu-central-1.amazon...,ITA,NaN,NaN,0,NaN,NaN
61,2026 Winter Olympics,72,/editions/72,2026,Milano-Cortina d'Ampezzo,https://olympedia-flags.s3.eu-central-1.amazon...,ITA,2026-02-06,2026-02-22,1,2026-02-04,2026-02-22